@charset "UTF-8";
.main-contents {
	display:flex;
	height : 90%;
}
.main-sidebar {
	width:15%;
	border:solid 1px black;
}
.main-section {
	width:70%;
	margin : 0;
	/*display:flex;
	 flex-direction:column;
	justify-contents:center;
	align-items:center; */
}
.main-footer {
	float : bottom;
	height : 10%;
}
.main-p {
	font-size:12px;
	margin:0px 0px;
	text-weight:bolder;
}
.fa-solid {
	margin-bottom:20px;
	padding-top:20px;
}
.center {
	text-align:center;	
}
.header-nav {
	/* background-color:#DCEAF5; */
}

