@charset "UTF-8";


    #cart-title{
        text-align : center;
    }

    #cart-text{
        font-weight: bold;
        padding: 100px;
    }

    #cart-h5 {
        font-weight : bold;
    }
    td{
        text-align : center;
        vertical-align :middle;
    }
    .cart-data-list{
        width : 1400px;
        padding-top: 100px;
	    padding-left : 250px;
        padding-right : 250px;
	    margin : 0 auto;
    }
    .cartbody{
        text-align : center;
        vertical-align :middle;
    }
    #countControl{
        width: 50px;
        height: 23px;
        text-align:center;
        margin: 0 auto;
    }
    #order-Info{
        width : 900px;
        height: 100px;
        border-top: solid 3px #e2c9a6;
        border-bottom: solid 3px #e2c9a6;
        text-align : center;
    }
    #cart-btn1{
        padding: 150px;
        text-align : center;
    }
    .cartinfo-table-header{
        height : 60px;
        background-color: lightgray;
        border: 1px solid #e2c9a6;
    }
    .cartinfo-table-body{
        height : 100px;
        border: 1px solid #e2c9a6;
    }
    #cartinfo-table-left{
        background-color: lightgray;
        border-bottom: 1px solid #e2c9a6;
    }
    #cartinfo-table-right{
        background-color: lightgray;
        border-bottom: 1px solid #e2c9a6;
    }
    .product-delbtn{
        text-align : right;
    }
    #quantity-btn{
        width: 35px;
        height: 25px;
        font-size : 11px;
      	flex-direction: column;
      	align-items: center;
      	text-align : center;
      	justify-content: center;
      	white-space : nowrap;
    }
    #del-btn{
        width: 85px;
        height: 30px;
        font-size :12px;
        display: inline-flex;
      	flex-direction: column;
      	align-items: center;
     	justify-content: center;
      	white-space : nowrap;
    }
    .product-img{
        margin-top: 5%;
        margin-bottom: 10%;
        width : 80px;
        height : 100px;
    }
    .total-price{
        margin: auto 0;
        color: red;
    }
    .product-title{
        margin : auto 0;
        text-align : left;
    }
    #id-delivery-fee{
    	text-align : center;
    }
	
	
}