@charset "UTF-8";
.list-table {
	width:90%;
	border:none;
}
.tr-line {
	border-bottom:1px solid gray;
	height:65px;
}
.tr-line:hover {
	background-color:#F2F4F5;
}
.th-line {
	border-bottom:1px solid gray;
	height:65px;
}
.th-left {
	text-align:left;
}
.td-title {
	text-decoration:none;
	color:black;
}
.td-title:hover {
	text-decoration:underline;
}
.detail-title {
	font-size:32px;
	font-weight:bolder;
}
.detail-head {
	background-color:#E4DDD3;
}
.detail-writer {
	font-size:22px;
}
.detail-comm {
	border-bottom:1px solid gray;
	height:80px;
}
.detail-contents{
	text-align:left;
}
.detail-contents p{
	width:100%;
	line-height:10px;
}
.detail-contents p img{
	max-width:700px; display:block; margin: 0 auto;
}
.detail-content {
	padding-top:50px;
	padding-bottom:50px;
}
.detail-repl {
	width:80%;
	margin-top:40px;
}
.detail-content-bot {
	padding-bottom:40px;
}
.write-input {
	border:none;
}
.write-title {
	border-bottom:1px solid gray;
	height:45px;
}
.input-readonly {
	background-color:rgba(0,0,0,0.1);
}
.border-top {
	border-top:3px solid black;
}
.paging-td{
	padding-top:30px;
	padding-bottom:20px;
	text-decoration:none;
}
.report-btn {
	color : red;
	margin-left:15px;
}
.report-btn:hover {
	color : red;
}
.thumbs-img{
	width:40px;
	height:40px;
	margin-top:25px;
	margin-bottom:43px;
}
.thumbs-img:hover {
	cursor:pointer;
}
.sig-btn{
	border:solid 1px #AA7139;
	background-color:#AA7139;
	color:white;
	width:65px;
	height:35px;
	border-radius:5px;
}
.sig-btn-lg{
	width:90px;
}
.sig-btn:hover {
	 background-color:#804A15;
     color : white;
     border-color : #804A15;
}
.rvs-sig-btn{
	border:solid 1px #804A15;
	background-color:white;
	color:#804A15;
	width:65px;
	height:35px;
	border-radius:5px;
}
.rvs-sig-btn-lg{
	width:90px;
}
 .rvs-sig-btn:hover {
    background-color:#E4DDD3;
    color : #804A15;
    border-color : #E4DDD3;
}
.border-bot {
	border-bottom:solid 1px gray;
}
.none-height {
	height:100px;
	line-height:100px;
}