@charset "UTF-8";
.list-div {
	text-align:center;
}
.list-title {
	margin-bottom:60px;
	margin-top:30px;
}
.list-nav {
	height:50px;
	border-top:solid 1px gray;
	border-bottom:solid 1px gray;
	background-color:#F2F4F5;
}
.fa-thumbs-up:hover {
	cursor:pointer;
}
.table-style {
	border:none;
	width:80%;
	border-bottom:solid 1px gray;
}
.main-form {
	display:flex;
	align-items:center;
	justify-content:center;
}