@charset "UTF-8";
.list-div {
	text-align:center;
}
.list-title {
	margin-bottom:60px;
	margin-top:30px;
}
.list-nav {
	height:50px;
	border-top:solid 1px gray;
	border-bottom:solid 1px gray;
	background-color:#AA7139;
	color:white;
	/* 연함 #AA7139;  진함 #804A15; */
}
.table-style {
	border:none;
	width:80%;
	border-bottom:solid 1px gray;
}
.main-form {
	display:flex;
	align-items:center;
	justify-content:center;
}
.summerArea {
	width:100%;
	text-align:left;
}
.a-button {
	text-decoration:none;
	color:#AA7139;
}
.a-button:hover {
	color:#804A15;
}
.select-box{
	object-fit:cover;
}
.div-top {
	margin-top:60px;
}
.border-bot-none {
	border-bottom:none;
}