@charset "UTF-8";
.faq-header{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
.faq-div {
	text-align:center;
}
.faq-category {
	background-color:#E4DDD3;
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	font-weight:bold;
}
.faq-category:hover {
	background-color:#D8BB9C;
	cursor:pointer;
}
.category-box {
	display:flex;
	align-items:center;
	justify-content:center;
	width:97%;
	margin-left:30px;
}